DO $$
DECLARE
    v_ai_id INT;
    v_ticket_id INT := 7;
BEGIN
    SELECT rec_id INTO v_ai_id FROM sys_users WHERE email = 'ai@shanon.dev';
    
    IF v_ai_id IS NULL THEN
        INSERT INTO sys_users (tenant_id, full_name, email, password_hash, role, created_at)
        VALUES ('00000000-0000-0000-0000-000000000001', 'AI Developer', 'ai@shanon.dev', 'DISABLED', 'admin', NOW())
        RETURNING rec_id INTO v_ai_id;
    END IF;

    UPDATE sys_change_comments 
    SET user_id = v_ai_id 
    WHERE comment LIKE '%' || U&'\+01F916' || '%' AND user_id != v_ai_id;

    UPDATE sys_change_comments
    SET comment = U&'\2705 ' || comment
    WHERE cr_id = v_ticket_id
    AND user_id != v_ai_id
    AND comment NOT LIKE U&'\2705%'
    AND comment NOT LIKE '%' || U&'\+01F916' || '%';

    -- 4. Log to Development History
    INSERT INTO development_history (date, title, category, related_task_id)
    SELECT CURRENT_DATE, 'Fix: Request UI Bugs (Checkbox & Reactions)', 'bugfix', v_ticket_id
    WHERE NOT EXISTS (
        SELECT 1 FROM development_history WHERE related_task_id = v_ticket_id AND title LIKE 'Fix: Request UI%'
    );

    -- 5. Post Agent Comment
    INSERT INTO sys_change_comments (cr_id, user_id, comment, created_at)
    VALUES (v_ticket_id, v_ai_id, '✅ Opraveny nahlášené chyby: Checkbox selekce se resetuje, Reakce mají okamžitou odezvu. ~ 🤖 Antigravity', NOW());
END $$;
